<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.hedra.local-dev-unlock</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>-lc</string>
    <string>launchctl setenv HEDRA_AUTO_VIDEO_UNLOCK 1; launchctl setenv HEDRA_PRO_UNLOCK 1</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>StandardOutPath</key>
  <string>/tmp/hedra_local_dev_unlock.log</string>
  <key>StandardErrorPath</key>
  <string>/tmp/hedra_local_dev_unlock.err</string>
</dict>
</plist>
